@model List<ProductType>
@{
    ViewData["Title"] = "Product Types";
}
<div class="container-productType" style="display: flex;flex-direction: column; align-items: center;justify-content: center;">
    @if (TempData["success"] != null)
    {
        <div class="alert alert-success">
            <strong>@TempData["success"]</strong>
        </div>
    }
    <div class="row pt-3 pb-4">
        <div class="col">
            <h1>Product Types</h1>
        </div>
    </div>

    <table style="width: 40%;" class="table table-bordered table-light">
        <thead>
            <tr class="table-secondary" align="center" valign="middle">
                <th>Id</th>
                <th>Product Type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var productType in Model)
            {
                <tr align="center" valign="middle">
                    <td>@productType.Id</td>
                    <td>@productType.Type</td>
                    <td>
                        <a asp-controller="ProductType" asp-action="Remove" asp-route-id="@productType.Id" type="button" class="btn btn-danger" style="width: 100px;">Remove</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row pt-3 pb-2">
        <div class="col">
            <a asp-controller="ProductType" asp-action="Add" class="btn btn-lg btn-primary" type="button">
                Add New Product Type
            </a>
        </div>
    </div>
</div>
